* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}
h2 {
  font-size: 24px;
  font-weight: 700;
}
h3 {
  font-size: 18px;
  font-weight: 700;
}

/* Grid fallback*/
.grid__item {
  display: inline-block;
  width: 20%;
}

/* Styling CSS grid*/
.grid {
  display: grid;
  margin: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.country {
  background-color: grey;
  text-align: center;
  padding: 10px;
  width: auto;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px 0 rgba(10, 10, 10, 0.2);
  color: #000;
}

.country h3 {
  text-transform: capitalize;
  word-wrap: break-word;
}

.country__img {
  width: 100px;
  border-radius: 5px;
}

/*Spinner */
#overlay {
  background: rgba(0, 0, 0, 0.6);
  color: firebrick;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%;
  opacity: 0.8;
}

/*Coubntry Dialog*/
#modal-container {
  display: none;
}

#modal-container.is-visible {
  display: grid;
  text-align: center;
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 4px 3px 19px 0px rgba(0, 0, 0, 0.3);
  background-color: rgb(235, 232, 232);
  width: 100%;
  max-width: 400px;
  color: black;
}
.modal__text {
  width: 80%;
  float: left;
  padding: 10px;
  text-align: left;
  clear: none;
}
.modal__text-top {
  width: 60%;
  text-align: left;
  float: left;
  clear: none;
}
.modal__img {
  width: 40%;
  float: left;
  clear: none;
}
.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background-color: darkgray;
  color: black;
}

.modal-close:hover {
  text-decoration: underline;
  display: inline-block;
  box-sizing: border-box;
}

.modal h3 {
  text-transform: capitalize;
  word-wrap: break-word;
}

.modal p {
  margin-bottom: 0;
}

.spinner {
  margin: 0 auto;
  height: 64px;
  width: 64px;
  animation: rotate 0.8s infinite linear;
  border: 5px solid firebrick;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Media Queries*/

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .modal__text {
    width: 80%;
    text-align: left;
  }
  .modal__text-top {
    width: 80%;
    padding: 10px;
    text-align: left;
  }
  .modal__img {
    margin-left: 20px;
    width: 80%;
    float: left;
    clear: none;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .modal__text {
    width: 80%;
    float: left;
    padding: 10px;
    text-align: left;
    clear: none;
  }

  .modal__text-top {
    width: 80%;
    float: left;
    padding: 10px;
    text-align: left;
    clear: none;
  }
  .modal__img {
    width: 80%;
    float: left;
    clear: none;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  h1 {
    font-size: 22px;
  }
}
